<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>TruDev</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.5</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>trustory</string>
          <string>$(TWITTER_OAUTH_CALLBACK)</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>Fabric</key>
    <dict>
      <key>APIKey</key>
      <string>04a2d176223a8d3fdcccab99207874e53f827177</string>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitInfo</key>
          <dict/>
          <key>KitName</key>
          <string>Crashlytics</string>
        </dict>
      </array>
    </dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <string>NO</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>twitter</string>
      <string>twitterauth</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>We would like to access your camera so that you are able to upload your profile picture or another image you took to TruStory!</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Location is required for some features of React Native. This app does not use those features.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location is required for some features of React Native. This app does not use those features.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need to access your photo library.</string>
    <key>UIAppFonts</key>
    <array>
      <string>Entypo.ttf</string>
      <string>EvilIcons.ttf</string>
      <string>Feather.ttf</string>
      <string>FontAwesome.ttf</string>
      <string>FontAwesome5_Brands.ttf</string>
      <string>FontAwesome5_Regular.ttf</string>
      <string>FontAwesome5_Solid.ttf</string>
      <string>Foundation.ttf</string>
      <string>Ionicons.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
      <string>MaterialIcons.ttf</string>
      <string>Octicons.ttf</string>
      <string>SimpleLineIcons.ttf</string>
      <string>Zocial.ttf</string>
      <string>roboto_bold.ttf</string>
      <string>roboto_bolditalic.ttf</string>
      <string>roboto_italic.ttf</string>
      <string>roboto_thin.ttf</string>
      <string>roboto_thinitalic.ttf</string>
      <string>roboto_regular.ttf</string>
      <string>AntDesign.ttf</string>
      <string>source_serif_bold.ttf</string>
      <string>source_serif_bolditalic.ttf</string>
      <string>source_serif_italic.ttf</string>
      <string>source_serif_regular.ttf</string>
      <string>lora_bold.ttf</string>
      <string>lora_bolditalic.ttf</string>
      <string>lora_italic.ttf</string>
      <string>lora_regular.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CodePushDeploymentKey</key>
    <string>$(CODE_PUSH_KEY)</string>
  </dict>
</plist>